body {
    background-image: url("imagenes/-Wzmc0uUfCnN9-D25GZR0LINqJ3hXjZxX4lF63oVc6PkPrhxk1aePm9ieRvpq1NpR-0cpBRCdMZ_Kdsudd2gZBbTJINIBGKrvNzG36zbi7l4Ke_E2Zjfh5jvZLwSB5ZrEgavHiqqaP3at_TV7NHQpF1uKH30LqmK4t41mDKu14qUPtsqz_IwNid_MmQoNRPm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: rgb(0, 0, 0);
}